* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}


/*root auxilia para a criacao do modo dark e light também*/

:root {
    --bg-header-mobile: url(../imagens/bg-header-mobile-light.png);

}

header {
    background: var(--bg-header-mobile);
}